{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}
<h1>Reviews</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bus</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for review in object_list %}
        <tr>
            <td>{{ review.bus.name }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.comment }}</td>
            <td>{{ review.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
